@model List<AcunmedyaAkademiPortfolio.Models.TblService>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1 style="text-align: center;">Hizmet Listesi</h1>
<br />

<table class="table table-striped table-bordered table-hover">

    <tr>
        <th>#</th>
        <th>Hizmet</th>
        <th>Açıklama</th>
        <th>İkon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.ServiceID</td>
            <td>@item.ServiceTitle</td>
            <td>@item.Description</td>
            <td>@item.IconUrl</td>
            <td><a href="/Service/DeleteService/@item.ServiceID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceID" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>
<a href="/Service/CreateService/" class="btn btn-primary">Yeni Hizmet Ekle</a>

