<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>

    <div class="p-4 pt-5">
        <h1><a href="/About/Index/" class="logo">Emir</a></h1>
        <ul class="list-unstyled components mb-5">

            <li><a href="/Default/Index"><i class="fa fa-home"></i> Siteye Git</a></li>
            <li><a href="/About/Index/"><i class="fa fa-user"></i>   Hakkımda</a></li>
            <li><a href="/Category/Index/"><i class="fa fa-th"></i> Kategoriler</a></li>
            <li><a href="/Education/Index/"><i class="fa fa-graduation-cap"></i> Eğitim Hayatım</a></li>
            <li><a href="/Experience/Index/"><i class="fa fa-briefcase"></i> Deneyimlerim</a></li>
            <li><a href="/Skill/Index/"><i class="fa fa-cogs"></i> Yeteneklerim</a></li>
            <li><a href="/Service/Index/"><i class="fa fa-wrench"></i> Hizmetlerim</a></li>
            <li><a href="/Message/Index/"><i class="fa fa-envelope"></i> Gelen Mesajlar</a></li>
            <li><a href="/SocialMedia/Index/"><i class="fa fa-share-alt"></i> Sosyal Medya</a></li>
            <li><a href="/Portfolio/Index/"><i class="fa fa-folder"></i> Projelerim</a></li>
            <li><a href="/Testimonial/Index/"><i class="fa fa-comment"></i> Referanslarım</a></li>
            @*<li><a href="/Statistic/Index/"><i class="fa fa-chart-bar"></i> İstatistikler</a></li>*@


        </ul>

        <div class="mb-5">
            <h3 class="h6">Bültene Abone Ol</h3>
            <form action="#" class="colorlib-subscribe-form">
                <div class="form-group d-flex">
                    <div class="icon"><span class="icon-paper-plane"></span></div>
                    <input type="text" class="form-control" placeholder="E-posta Adresinizi Girin">
                </div>
            </form>
        </div>

        <div class="footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm haklar saklıdır.
            </p>
        </div>

    </div>
</nav>