
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medya Ekleme</h2>
<form method="post">

    <label>Sosyal Medya</label>
    <input type="text" class="form-control" name="Name" style="border: groove" />
    <br />

    <label>Link</label>
    <input type="text" class="form-control" name="Url" style="border: groove" />
    <br />

    <label>İkon</label>
    <input type="text" class="form-control" name="Icon" style="border: groove" />
    <br />

    <button class="btn btn-primary">Ekle</button>
</form>

