@model List<AcunmedyaAkademiPortfolio.Models.TblSkills>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1 style="text-align: center;">Yetenek Listesi</h1>
<br />

<table class="table table-striped table-bordered table-hover">

    <tr>
        <th>#</th>
        <th>Yetenek</th>
        <th>Değer</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.SkillID</td>
            <td>@item.SkillTitle</td>
            <td>@item.SkillValue</td>

            <td><a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Skill/UpdateSkill/@item.SkillID" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>
<a href="/Skill/CreateSkill/" class="btn btn-primary">Yeni Yetenek Ekle</a>