<section id="contact" class="contact section dark-background">

    <div class="container section-title" data-aos="fade-up">
        <h2>Bana Yazın</h2>
        <p>Benimle iletişime geçmek için aşağıdaki formu doldurabilirsiniz.</p>
    </div>

    <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-4">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>Adres</h3>
                        <p>Fatih, İstanbul B14</p>
                    </div>
                </div>

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Telefon</h3>
                        <p>+90 555 555 55 55</p>
                    </div>
                </div>

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>E-Posta</h3>
                        <p>emirhannozmen@gmail.com</p>
                    </div>
                </div>

            </div>

            @Html.Partial("/Views/Default/SendMessage.cshtml")
        </div>

    </div>

</section>
