<section id="stats" class="stats section dark-background">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-tools"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.SkillCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Yetenek Sayısı</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-folder-check"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.ProjectCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Tamamlanan Projeler</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-briefcase"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.ServiceCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Sunulan Hizmetler</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-chat-dots"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.MessageCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Geri Bildirimler</p>
                </div>
            </div>

        </div>

    </div>

</section>
