
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Referans Ekleme</h2>
<form method="post">

    <label>Referans Adı</label>
    <input type="text" class="form-control" name="NameSurname" style="border: groove" />
    <br />

    <label>Ünvan</label>
    <input type="text" class="form-control" name="Title" style="border: groove" />
    <br />

    <label>Yorum</label>
    <input type="text" class="form-control" name="CommentDetail" style="border: groove" />
    <br />

    <label>Resim</label>
    <input type="text" class="form-control" name="ImageUrl" style="border: groove" />
    <br />


    <button class="btn btn-primary">Ekle</button>
</form>